.swiper-slide {
    background: #F8F8F8;
}

.card-text {
    font-weight: 700;
    font-size: 24px;
    color: #BB2339;
}

.swiper-slide__title {
    text-transform: capitalize;
    color: #BB2339;
}

@media screen and (max-width:768px) {
    .swiper-card {
        width: 80% !important;
    }
}

.swiper-slide-item {
    display: flex;
}