.form-parend {
    top: -30% !important;
    left: 10% !important;
    max-width: 100%;
    min-width: 80%;
}

.bg-dark {
    border-radius: 20px !important;
    background: #BB2339 !important;
    box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
}

.form__email {
    outline: none;
}

.form__btn {
    max-width: 200px;
}